<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="GPR" value="https://nuget.pkg.github.com/Norgerman/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <GPR>
        <add key="Username" value="Norgerman" />
        <add key="Password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAANCSeqLi6vUqRQbPUipnwcgAAAAACAAAAAAAQZgAAAAEAACAAAADpXn0UkxymndPTVWAg4OU+KgqUsc5kIwciuoSwBSxpQgAAAAAOgAAAAAIAACAAAAB73oAej3hbIv2DO2WEbTXw9vfSm8NbiFAQkQzS7bBAozAAAABI5xtzVQtunrgi6JPgrViD8RN3ln6ajQTCzgOm+uoKJB8lfK+w5XnF58sdWmyuHcdAAAAACzHNHd+n5ZIfcTFHlEZJrk+nWTZ7CK0mlLB1Jy73rucKYXTJ2EdeAIXLOMWnP8t4bymlfhTcIY7JctYBIrPcUg==" />
    </GPR>
  </packageSourceCredentials>
</configuration>